---
import Layout from "@layouts/ResumeLayout.astro";
import { Icon } from "astro-icon";
import Experience from "@components/resume/experience.astro";
import Skill from "@components/resume/skill.astro";

const { profile } = Astro.props;
const { name, designation, company, contact, skills, experiences } = profile;
---

<Layout>
  <main
    class="prose m-auto flex flex-col sm:min-w-[1000px] sm:flex-row print:m-0 print:w-full print:flex-row"
  >
    <section class="w-full bg-[#F0E5D4] p-5 sm:w-auto">
      <img class="m-auto w-40 border-none" src="/assets/profile-pic.webp" />
      <h2 class="mt-2">Contact</h2>
      <div class="w-[220px]">
        <div>
          <Icon class="w-[18px]" name="mdi:email" />
          {contact.email}
        </div>
        <div>
          <Icon class="w-[18px]" name="mdi:phone" />
          {contact.phone}
        </div>
        <div>
          <Icon class="w-[18px]" name="mdi:location" />
          {contact.location}
        </div>
      </div>
      <h2 class="mt-2">Skills</h2>
      {skills.map(skill => <Skill skill={skill} />)}
    </section>
    <section class="bg-[#FFF9F1] p-5">
      <h1>{name}</h1>
      <h3 class="mt-0">{designation} @ {company}</h3>
      <h2 class="mt-3">Experience</h2>
      <hr class="mb-1" />
      {experiences.map(experience => <Experience experience={experience} />)}
    </section>
  </main>
</Layout>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
