---
import ResumeLayout from "@layouts/ResumeLayout.astro";
import { Icon } from "astro-icon";
import Experience from "@components/resume/experience.astro";
import Skill from "@components/resume/skill.astro";
import ThemeSwitcher from "@components/theme-switcher.astro";

const { profile } = Astro.props;
const { name, designation, summary, company, contact, skills, experiences } =
  profile;
---

<ResumeLayout>
  <main>
    <section id="left-column">
      <img class="m-auto w-40 border-none" src="/assets/profile-pic.webp" />
      <h2 class="h2 mt-3">Contact</h2>
      <div class="min-w-[230px]">
        <div>
          <Icon name="mdi:email" />
          {contact.email}
        </div>
        <div>
          <Icon name="mdi:phone" />
          {contact.phone}
        </div>
        <div>
          <Icon name="mdi:location" />
          {contact.location}
        </div>
      </div>
      <h2>Skills</h2>
      {skills.map(skill => <Skill skill={skill} />)}
    </section>
    <section id="right-column">
      <h1>{name}</h1>
      <div class="flex justify-between">
        <h3 class="mt-0">{designation} @ {company}</h3>
        <div id="action-buttons" class="flex items-center">
          <ThemeSwitcher />
          <button class="p-1" onclick="window.print();"><Icon name="mdi:printer" /></button>
          <a class="p-1" href="/"><Icon name="mdi:home" /></a>
        </div>
      </div>
      <p class="mt-2">{summary}</p>
      <h2>Experience</h2>
      <hr />
      {experiences.map(experience => <Experience experience={experience} />)}
    </section>
  </main>
</ResumeLayout>
