---
import ResumeLayout from "@layouts/ResumeLayout.astro";
import { Icon } from "astro-icon";
import Experience from "@components/resume/experience.astro";
import Skill from "@components/resume/skill.astro";
import ThemeSwitcher from "@components/theme-switcher.astro";
import Hr from "@components/Hr.astro";
import NameTitle from "@components/resume/name-title.astro";

const { profile } = Astro.props;
const { name, designation, summary, company, contact, skills, experiences } =
  profile;
---

<ResumeLayout>
  <main>
    <section id="left-column">
      <img
        class="w-120 m-auto border-none sm:w-60"
        alt="Ashrafuzzaman Jitu"
        src="/assets/profile-pic.webp"
      />
      <div class="block sm:hidden print:hidden">
        <NameTitle name={name} designation={designation} company={company} />
      </div>
      <h2 class="h2 mt-3">Contact</h2>
      <div id="contact" class="min-w-[230px]">
        <div>
          <Icon name="mdi:email" />
          {contact.email}
        </div>
        <div>
          <Icon name="mdi:phone" />
          {contact.phone}
        </div>
        <div>
          <Icon name="mdi:location" />
          {contact.location}
        </div>
      </div>
      <h2>Skills</h2>
      {skills.map(skill => <Skill skill={skill} />)}
    </section>
    <section id="right-column">
      <div class="hidden sm:block print:block">
        <NameTitle name={name} designation={designation} company={company} />
      </div>
      <p class="mt-2">{summary}</p>
      <h2>Experience</h2>
      <Hr noPadding />
      {experiences.map(experience => <Experience experience={experience} />)}
    </section>
  </main>
</ResumeLayout>
