---
import profile from "@content/profile/jitu.yaml";
import ProfileLayout from "@layouts/ProfileLayout.astro";
import ThemeSwitcher from "@components/theme-switcher.astro";
import Skill from "@components/resume/skill.astro";
import { Icon } from "astro-icon";

const { name, contact, designation, company, summary, links, skills } = profile;
---

<ProfileLayout>
  <main
    class="m-auto max-w-[1000px] border-[1px] border-skin-line bg-skin-card sm:rounded-md"
  >
    <div
      class="border-b-[1px] border-skin-line bg-skin-card-muted sm:rounded-t-md"
    >
      <div class="flex justify-end space-x-1 p-2">
        <div class="h-[12px] w-[12px] rounded-full bg-[#24ca42]"></div>
        <div class="h-[12px] w-[12px] rounded-full bg-[#ffbf2a]"></div>
        <div class="h-[12px] w-[12px] rounded-full bg-[#ff5d5a]"></div>
      </div>
    </div>
    <div class="flex items-center justify-between bg-skin-fill">
      <div class="w-fit border-b-2 border-skin-accent bg-skin-card p-2">
        Profile
      </div>
      <div class="mr-2">
        <ThemeSwitcher />
      </div>
    </div>
    <div class="flex flex-col sm:flex-row">
      <div class="min-w-[240px] p-5">
        <img
          class="m-auto w-60 border-none"
          alt="Ashrafuzzaman Jitu"
          src="/assets/profile-pic.webp"
        />
        <div class="mt-2">
          <div>
            <Icon name="mdi:email" />
            {contact.email}
          </div>
          <div>
            <Icon name="mdi:location" />
            {contact.location}
          </div>
        </div>
        <ul id="action-links" class="mt-2">
          <li><a href="/resume"><Icon name="mdi:resume" /> Resume</a></li>
          <li><a href="/blog"><Icon name="carbon:blog" /> Blog</a></li>
          <li>
            <a target="_blank" href={links.blogOnDistributedSystem.url}
              ><Icon name="carbon:blog" />
              {links.blogOnDistributedSystem.alt}</a
            >
          </li>
          <li>
            <a target="_blank" href={links.github.url}
              ><Icon name="mdi:github" /> {links.github.alt}</a
            >
          </li>
          <li>
            <a target="_blank" href={links.linkedIn.url}
              ><Icon name="mdi:linkedin" /> {links.linkedIn.alt}</a
            >
          </li>
        </ul>
      </div>
      <div class="p-10">
        <h1>{name}</h1>
        <h3 class="mt-0 font-bold text-skin-secondary">
          {designation} @ {company}
        </h3>
        <p class="mt-2">{summary}</p>
        <div id="skills" class="grid grid-flow-row grid-cols-2">
          {skills.map(skill => <Skill skill={skill} />)}
        </div>
      </div>
    </div>
    <div class="flex justify-between bg-skin-card-muted p-2 sm:rounded-b-md">
      <div class="flex items-center space-x-1">
        <Icon name="mdi:close-circle" />
        <span>0</span>
        <Icon name="mdi:alert" />
        <span>0</span>
      </div>
      <div>Typescript</div>
    </div>
  </main>
</ProfileLayout>
